/* 外边距相关 */
.mt-5 {
  margin-top: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}


/* 内边距相关 */
.pd-10{
  padding: 10px;
}

.pt-5 {
  padding-top: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pr-35 {
  padding-right: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pl-35 {
  padding-left: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pr-45 {
  padding-right: 45px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pl-45 {
  padding-left: 45px;
}

.pt-50 {
  padding-top: 50px;
}
.pr-50 {
  padding-right: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-50 {
  padding-left: 50px;
}
.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 10px;
}
.pd-20 {
  padding: 10px;
}
.pd-25 {
  padding: 25px;
}

.pd-30 {
  padding: 30px;
}
.pd-35 {
  padding: 35px;
}
.pd-40 {
  padding: 40px;
}
.pd-45 {
  padding: 45px;
}
.pd-50 {
  padding: 50px;
}
.pb-60{
  padding-bottom: 60px;
}
.pb-70{
  padding-bottom: 70px;
}
.clear::after {
  content: '';
  display: table;
  clear: both;
  font-size: 0;
}
.clear {
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.cl-primary {
  color: #2d8cf0 ;
}
.cl-error {
  color: #ed4014;
}
.cl-success {
  color: #19be6b;
}
.bgfff {
  background: #fff;
}
.bgf2 {
  background: #f2f2f2;
}
.relative {
  position: relative;
}
.absoluteM {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.hide {
  display: none;
}
.cursor {
  cursor: pointer;
}
.border {
  border: #dcdee2 solid 1px;
}

.auto {
  margin: 0 auto;
}
.radius4 {
  border-radius: 4px;
}
.hide {
  display: none;
}
.w80 {
  width: 80px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w450 {
  width: 450px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.t-right {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.bold {
  font-weight: bold;
}
.border {
  border: 1px solid #e8eaec;
}
.borderB {
  border-bottom: 1px solid #e8eaec;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.center {
  text-align: center;
}
.my-upload .ivu-form-item-error-tip {
  position: relative;
  top: 60px;
  left: -60px;
}
.fs14 {
 font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.my-camera {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignT {
  vertical-align: top;
}
