.app-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.app-content {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.trigger:hover {
  color: #1890ff;
}
.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.app {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.page-spin {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
